.host-header{
  .Space-Management-TopBox{
    margin-top: 48px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px;
    height: 74px;
    width: 100%;
    .Space-Management-TopBox-Left{
      height: 100%;
      width: 95%;
      float: left;
      padding-left: 20px;
      padding-top:10px;
      &__title{

        font-size: 22px;
      }
      &__spacename{
        font-size: 14px;
        color: gray;
      }
    }
    .Space-Management-TopBox-Right{
      height: 100%;
      width: 5%;
      float: right;
      line-height: 60px;
      &__close{
        color: gray;
        font-size: 60px;
      }
    }
  }
  width: 100%;
  height: 48px;
  background-color: #333333;
  position: fixed;
  z-index: 10000;
  &__left{
    .host-left-logo{
      float: left;
      .host-left-img{
        margin-top: 6px;
        height: 36px;
      }
    }
    .host-left-navs{
      line-height: 48px;
      &__txt:hover{
        color: white;
        border-bottom: 2px solid #0E4;
      }
      &__txt{
        height: 48px;
        color: white;
        float: left;
        padding-left: 10px;
        padding-right:10px;
      }
    }
  }
  &__right{
    .host-right-nav{
      float: right;
      font-size: 16px;
      line-height: 48px;
      &__content-help{
        float: right;
        color: white;
        box-sizing:border-box;
        border-right: 1px white solid;
        height: 24px;
        line-height: 24px;
        margin-top: 12px;
        margin-right: 10px;
        padding-right: 20px;
      }
      &__content-mail{
        line-height: 10px;
        float: right;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 6px;
        .content-mail-img{
          padding-left: 8px;
        }
        .content-mail-txt{
          font-size: 10px;
          text-align: center;
        }
        position: relative;
        .content-mail-box{
          position: absolute;
          top:50px;
          right: 0px;
          width: 300px;
          box-shadow: 1px 1px 1px 1px;
          font-size: 14px;
          display: none;
          line-height: 40px;
          &__title{
            background-color: #F6F6F6;
            height: 40px;
            color: black;
            border-bottom: 1px solid gray;
          }
          &__message{
            background-color: white;
            height: 40px;
            color: black;
          }
        }
        .content-mail-checkbox{
          display: none;
        }
        input[type=checkbox]:checked ~ .content-mail-box{
          display: block;
        }
      }
      &__content-down{
        float: right;
        margin-right: 20px;
        position: relative;
        .content-down-box{

          position: absolute;
          top:50px;
          right: 0px;
          width: 300px;
          box-shadow: 1px 1px 1px 1px;
          font-size: 14px;
          display: none;
          line-height: 40px;
          &__title{
            height: 40px;
            background-color: #F6F6F6;
            border-bottom: 1px solid gray;
          }
          &__message{
            height: 40px;
          }
        }
        .content-down-checkbox{
          display: none;
        }
        input[type=checkbox]:checked ~ .content-down-box{
          display: block;
        }
      }
      &__content-profile{
        float: right;
        margin-right: 10px;
        position: relative;
        .content-profile-img{
          width: 36px;
          height: 36px;
          border-radius: 100%;
        }
        .content-profile-box{
          position: absolute;
          top:50px;
          right: 0px;
          width: 200px;
          box-shadow: 1px 1px 1px 1px gray;
          font-size: 14px;
          background-color: white;
          color: gray;
          display: none;
          &__name-with-img{
            background-color: #F6F6F6;
          }
          &__name{
            padding-left: 10px;
            border-bottom:2px solid #F6F6F6;
          }
          &__spacemarket{
            padding-left: 10px;
          }
          &__spacemarket-stay{
            padding-left: 10px;
            border-bottom:2px solid #F6F6F6;
          }
          &__contact{
            padding-left: 10px;
          }
          &__rule{
            padding-left: 10px;
            border-bottom:2px solid #F6F6F6;
          }
          &__sign-out{
            padding-left: 10px;
            border-bottom:1px solid gray;
          }
        }
        .content-profile-checkbox{
          display: none;
        }
        input[type=checkbox]:checked ~ .content-profile-box{
          display: block;
        }
      }
    }

  }
}
