= form_for @favorite_list do |f|
  .new_list
    %h1
      新規リスト作成
    %h2
      リスト名を入力してください。
    = f.text_field :name, placeholder: "バーベキューで使えるスペース"
    = f.submit '作成'
    .cancel-btn
      = link_to 'キャンセル', favorite_lists_path
