.bcgqPY {
    position: relative;
    padding-top: 72px;
    overflow: hidden;
}

.fcvuns {
    position: absolute;
    z-index: 5;
    top: 88px;
    left: 16px;
}

.bqFTyS {
    width: 180px;
    height: 34px;
    background: url(https://cdnspacemarket.com/packs-production/images/service/logo-97ba15ef37.svg) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

.dlXLao {
    height: 34px;
    display: block;
}

.EiLbn {
    background-image: image-url('fv_img_pc-a32ce04023.png');
    background-size: cover;
    height: 490px;
    background-color: rgb(255, 255, 255);
    background-position: 0px center;
    background-repeat: no-repeat;
    padding: 0px 24px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.jTaSvC {
    position: relative;
}

.hIQySa {
    position: absolute;
    top: 86px;
    text-align: left;
    left: 0px;
    margin: 0px;
}


.sBDTv {
    font-size: 32px;
    line-height: 1.3;
    font-weight: bold;
}

.hibFsE {
    display: block;
    width: 370px;
    margin: 8px 0px;
}

.jTrnLk {
    font-size: 16px;
    line-height: 1.6;
}

.kDPrUt {
    position: relative;
    padding: 0px;
    background: rgb(246, 246, 246);
}

.gvqmQP {
    max-width: 1100px;
    margin: auto;
}

.gayETD {
    position: absolute;
    bottom: 100px;
    right: 16px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    width: 340px;
    padding: 0px;
}

.cuZnxw {
    position: fixed;
    width: 100%;
    height: 72px;
    top: 0px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;
    background: rgb(246, 246, 246);
}

.ejVVRe {
    padding: 16px;
}

.bvJmZk {
    float: right;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.lhnlob {
    display: inline-block;
    font-size: 16px;
    padding-top: 0px;
}

.enULkL {
    position: relative;
    display: inline-block;
    font-size: 12px;
    cursor: help;
}

.hoBnWi {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    left: -40%;
    z-index: 4;
  }

.bCBUtn {
    font-size: 13px;
    margin-right: 4px;
}

.fEoKOV {
    position: absolute;
    display: none;
    top: 25px;
    width: 240px;
    left: 0px;
}

.jmvMAc {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
    z-index: 9;
    border-radius: 3px;
}

.cOwpyj {
    display: block;
    color: rgb(75, 75, 75);
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4;
    background-color: rgb(255, 255, 255);
    transform: rotate(0deg);
    padding: 12px;
    border-radius: 3px;
}

.fXPFae {
    display: inline-block;
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    color: rgb(75, 75, 75);
    font-weight: bold;
    text-align: right;
    float: none;
    font-size: 28px;
    margin-left: 8px;
}

.jUJbfT {
    font-size: 26px;
}

.igwNfb {
    display: inline-block;
    margin-top: 0px;
    margin-left: 8px;
}

.jejrBi {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 223, 82);
    width: 130px;
    height: 40px;
    font-size: 14px;
    font-weight: normal;
    padding: 0px 8px;
    border-radius: 3px;
    line-height: 100%;
}

.bgQmZj {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.cFihrX {
    width: 120px;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    border-radius: 50%;
    background-color: white;
}

.cFihrX::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 3px;
  bottom: 3px;
  border-style: solid;
  border-color: transparent transparent transparent white;
  border-width: 10px 0 10px 17.32px;
  transform: rotate(45deg);
}

.cSONKD {
    position: relative;
    top: 30px;
    left: 12px;
    color: rgb(75, 75, 75);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.hLuObW {
    max-width: 375px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    background: rgb(255, 255, 255);
    margin: 0px auto;
    border-radius: 3px;
}

.fIcsIS {
    background: rgb(75, 75, 75);
    padding: 14px 0px;
    border-radius: 3px 3px 0px 0px;
}

.cBtJfD {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.fRWcwX {
    padding: 16px 32px 24px;
}

.ant-select-selection {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    border-image: initial;
    border-radius: 3px;
    height: 32px;
    position: relative;
    cursor: pointer;

    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
}

.kplau:not(:first-child) {
    margin-top: 8px;
}

.ant-select {
    width: 100%;
    color: rgb(75, 75, 75);
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.ant-select-selection {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
    border-image: initial;
    border-radius: 3px;
    height: 32px;
    position: relative;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
}

.ant-select-selection__rendered {
    display: block;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    line-height: 30px;
}

.ant-select-arrow {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 50%;
    right: 11px;
    line-height: 1;
    margin-top: -6px;
    transform-origin: 50% 50%;
    color: rgba(0,0,0,.25);
    font-size: 12px;
}

.kplau:not(:first-child) {
    margin-top: 8px;
}

.ant-select-selection--single {
    height: 32px;
    position: relative;
    cursor: pointer;
}

.hITAsh {
    padding: 16px 0px 0px;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.dHnwtU {
    display: inline-block;
    font-size: 13px;
    padding-top: 12px;
    float: left;
}

.enULkL {
    position: relative;
    display: inline-block;
    font-size: 12px;
    cursor: help;
}

.bCBUtn {
    font-size: 13px;
    margin-right: 4px;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.jbkajK {
    position: absolute;
    display: none;
    top: 25px;
    width: 240px;
    left: -50px;
}

.emfimi {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
    z-index: 9;
    border-radius: 3px;
}

.cOwpyj {
    display: block;
    color: rgb(75, 75, 75);
    font-size: 11px;
    font-weight: bold;
    line-height: 1.4;
    background-color: rgb(255, 255, 255);
    transform: rotate(0deg);
    padding: 12px;
    border-radius: 3px;
}

.cdUcxL {
    display: inline-block;
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 28px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    text-align: right;
    float: right;
}

.bKdnKb {
    font-size: 26px;
}

.xHTQH {
    margin-top: 16px;
}

.gRFWZM {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(96, 223, 82);
    width: 276px;
    height: 46px;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 3px;
}

.bgQmZj {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


/*Section-2*/

.dtWQpV {
    position: relative;
    padding-top: 40px;
    padding-bottom: 32px;
}

.gvqmQP {
    max-width: 1100px;
    margin: auto;
}

.fgLEPd {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    color: rgb(75, 75, 75);
}

.jmpxYn {
    display: none;
}

.fyhGPW {
    margin-top: 24px;
    padding: 0px 16px;
    overflow: hidden;
}

.jzdyEk {
    float: left;
    width: calc((100% - 120px) / 3);
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
}

.fGisqG {
    color: rgb(75, 75, 75);
    line-height: 1.3;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.kvokUC {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding-right: 8px;
    color: rgb(96, 223, 82);
}

.ergbaZ {
    margin-top: 8px;
}

.jTrnLk {
    font-size: 16px;
    line-height: 1.6;
}

/*Section-3*/
.ihkXoH {
    position: relative;
    padding-top: 40px;
    padding-bottom: 32px;
}

.gvqmQP {
    max-width: 1100px;
    margin: auto;
}

.fNpFNF {
    max-width: 640px;
    position: relative;
    margin: 0px auto;
    padding: 0px 16px;
}


.jROZXE {
    position: absolute;
    top: -30px;
    left: 150px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    background: rgb(96, 223, 82);
}

.fEqSFF {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.fJLxUc {
    text-align: center;
    width: 680px;
    margin: 24px auto;
}

.jTrnLk {
    font-size: 16px;
    line-height: 1.6;
}

.jiqQCf {
    display: none;
}

.ijCbqd {
    padding: 0px 16px;
    overflow: hidden;
}

.hiviCA {
    margin-top: 0px;
    width: calc((100% - 80px) / 2);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    padding: 16px 16px 12px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(96, 223, 82);
    border-image: initial;
}

.ehOtSp {
    color: rgb(75, 75, 75);
    line-height: 1.3;
    font-weight: bold;
    font-size: 16px;
}

.jfcdOd {
    margin-top: 8px;
    padding: 8px 16px 16px;
    background: rgb(246, 246, 246);
    border-radius: 3px;
}

.jfcdOd .fa, .jfcdOd .far {
    padding-right: 8px;
    font-size: 16px;
    color: rgb(153, 153, 153);
}

.eALNXd {
    margin-right: 8px;
    margin-top: 8px;
    font-size: 14px;
}

.eALNXd .fa {
    padding: 0px 9px 0px 1px;
}


.gofUpp {
    float: left;
    margin-right: 8px;
    margin-top: 8px;
    font-size: 14px;
}


.ehmOcY {
    float: left;
    margin-top: 8px;
    font-size: 14px;
}

.ehmOcY .far {
    padding-right: 6px;
}

.jUQazZ {
    text-align: right;
    margin-top: 16px;
    clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fVjqAo {
    color: rgb(96, 223, 82);
    font-weight: bold;
    text-decoration: none;
}

.fVjqAo i {
    padding-right: 4px;
}

.LEKpE {
    text-align: center;
    margin-top: 24px;
}

.hUbARb {
    color: rgb(96, 223, 82);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.hfdsLq {
    font-size: 13px;
    font-color: green;
}

.ehOtSp i {
    font-size: 20px;
    color: rgb(96, 223, 82);
    padding-right: 5px;
}

.third_box_1 {
    margin-top: 0px;
    float: left;
    vertical-align: baseline;
}

.third_box_2 {
    margin-right: 0px;
    float: right;
    vertical-align: baseline;
}

.third_box_3 {
    margin-top: 16px;
    float: left;
    vertical-align: baseline;
}

.third_box_4 {
    margin-top: 16px;
    margin-right: 0px;
    float: right;
    vertical-align: baseline;
}

/*Section-4*/
.hvHcyh {
    position: relative;
    padding-top: 40px;
    padding-bottom: 32px;
    background: rgb(234, 248, 233);
    .gvqmQP {
        max-width: 1100px;
        margin: auto;
        .fgLEPd {
            font-weight: bold;
            font-size: 24px;
            text-align: center;
            letter-spacing: 1px;
            line-height: 1.2;
            color: rgb(75, 75, 75);
        }
        .bvwlzc {
            margin: 32px 0px 0px;
            padding: 0px 16px;
            .slick-slider {
                @extend .slick-list;
                box-sizing: border-box;
                user-select: none;
                touch-action: pan-y;
/*                -webkit-tap-highlight-color: transparent;
*/              position: relative;
                display: block;

                .slick-arrow {
                    display: block;
                    position: absolute;
                    top: 50%;
                    outline: none;
                    cursor: pointer;
                    z-index: 1;
                    background: transparent;
                    border: transparent;
                }

                .slick-prev {
                    @extend .slick-arrow;
                    left: 50%;
                    transform: translate(-400px);
                }

                .slick-list {
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    padding-top: 60px;
                    .slick-track {
                        position: relative;
                        top: 0px;
                        left: 0px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        background-color: black;
                        .slick-slide {
                            display: block;
                            float: left;
                            height: 100%;
                            min-height: 1px;
                        }
                        .DRakt {
                            position: relative;
                            max-width: 680px;
                            margin: 0px auto 16px;
                            background-color: #EEEEEE;
                            border-radius: 3px;
                            overflow: hidden;
                            opacity: 1;
                            .right-info {
                                float: left;
                                width: 47.5%;
                                height: 100%;
                                opacity: 1;
                                .dhiRdm {
                                    display: block;
                                    width: 100%;
                                }
                                .gbvFMz {
                                    display: block;
                                    width: 100%;
                                    line-height: 1.3;
                                    padding: 30px 16px 16px;
                                    opacity: 1;
                                    z-index: 20;
                                }
                            }
                            .jtYqwG {
                                float: right;
                                width: 45%;
                                height: 100%;
                                position: relative;
                                z-index: 2;
                                background: rgb(255, 255, 255);
                            }
                        }
                    }
                }

                .slick-next {
                    @extend .slick-arrow;
                    right: 50%;
                    transform: translate(400px);
                }
            }
        }
    }
}


.ktDFOh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    .kNnoxF {
        width: 70px;
        height: 70px;
        flex-shrink: 0;
    }
    .epoNea {
        color: rgb(75, 75, 75);
        line-height: 1.3;
        font-weight: bold;
        padding-left: 16px;
        font-size: 16px;
    }
}

.XsfHF {
    margin-top: 16px;
    .jmFNTq {
        font-size: 16px;
        line-height: 1.6;
    }
}





.slick-dots {
    display: flex!important;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    bottom: -25px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    %li {
        position: relative;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.slick-dots li, .slick-dots li button {
    width: 40px;
    height: 40px;
    font-size: 7px;
    color: gray;
    border: transparent;
    background: transparent;
    cursor: pointer;
}





.kFNXye {
    text-align: right;
    background: rgb(75, 75, 75);
    padding: 10px 16px;
    border-radius: 3px 3px 0px 0px;
}

.trvSG {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

.cQHaeO {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.cQHaeO .fa-yen-sign {
    padding-right: 3px;
}

.fAiwoI {
    font-size: 22px;
}

.dxyAQM {
    width: 100%;
}





.ecQoGa {
    font-weight: bold;
}

.bkXIjH {
    margin: 16px 0px 8px;
}

.cpHUBJ {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 1.4;
}

.jOmweg {
    font-size: 12px;
    color: rgb(75, 75, 75);
    padding-right: 8px;
    line-height: 1.4;
}

.jOmweg .fa {
    color: rgb(153, 153, 153);
    font-size: 14px;
    padding: 0px 5px;
}

.dhiRdm {
    width: 48%;
    float: left;
}

.kFNXye {
    text-align: right;
    background: rgb(75, 75, 75);
    padding: 10px 16px;
    border-radius: 3px 3px 0px 0px;
}

.trvSG {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

.cQHaeO {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.cQHaeO .fa-yen-sign {
    padding-right: 3px;
}

.fAiwoI {
    font-size: 22px;
}

.dxyAQM {
    width: 100%;
}

.jtYqwG {
    padding: 16px;
}

.jtYqwG {
    width: 52%;
    float: right;
    height: auto;
    position: relative;
    z-index: 2;
    background: rgb(255, 255, 255);
    padding: 32px 24px;
}

.ktDFOh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.kNnoxF {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.epoNea {
    color: rgb(75, 75, 75);
    line-height: 1.3;
    font-weight: bold;
    padding-left: 16px;
    font-size: 16px;
}

.XsfHF {
    margin-top: 16px;
}

.jmFNTq {
    font-size: 16px;
    line-height: 1.6;
}

.gbvFMz {
    line-height: 1.3;
    padding: 0px 16px 16px;
}

.ecQoGa {
    font-weight: bold;
}

.bkXIjH {
    margin: 16px 0px 8px;
}

.cpHUBJ {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 1.4;
}

.jOmweg {
    font-size: 12px;
    color: rgb(75, 75, 75);
    padding-right: 8px;
    line-height: 1.4;
}

.jOmweg .fa {
    color: rgb(153, 153, 153);
    font-size: 14px;
    padding: 0px 5px;
}




/*Section-5*/
.CvqSs {
    position: relative;
    padding-top: 32px;
    padding-bottom: 24px;
}

.gvqmQP {
    max-width: 1100px;
    margin: auto;
}

.fgLEPd {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    color: rgb(75, 75, 75);
}

.fwMraN {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
    margin: 16px auto 0px;
    overflow: hidden;
}

.dRymLr {
    float: left;
    margin-right: 0px;
    position: relative;
    width: calc((100% - 15px) / 3);
    display: inline-block;
    vertical-align: top;
}

.gVaZR {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    background: rgb(96, 223, 82);
    display: block;
    float: none;
    position: relative;
    margin: auto;
}

.cQmbBZ {
    color: rgb(75, 75, 75);
    line-height: 1.3;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0px 5px 8px;
    text-align: center;
    float: none;
    margin-top: 8px;
}

.diPjaE {
    float: right;
    width: 90%;
    padding-bottom: 16px;
}

.cNZEef {
    float: right;
    width: 90%;
    padding-bottom: 16px;
}
.sIUgk {
    margin-top: 8px;
}

.jTrnLk {
    font-size: 16px;
    line-height: 1.6;
}

.heOnCU {
    margin-top: 8px;
}

.heOnCU {
    margin-top: 8px;
}

.gSxaao {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    background: rgb(96, 223, 82);
    display: block;
    float: none;
    position: relative;
    margin: auto;
}


/*Section-6*/
.fhUQvp {
    position: relative;
    padding-top: 32px;
    padding-bottom: 24px;
    background: rgb(246, 246, 246);
}

.gvqmQP {
    max-width: 1100px;
    margin: auto;
}

.fgLEPd {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    color: rgb(75, 75, 75);
}

.fMUmau {
    font-size: 16px;
    line-height: 1.6;
    padding: 0px 16px;
    width: 680px;
    text-align: center;
    margin: 16px auto;
}

.hfdJnA {
    width: calc(100% - 32px);
    padding: 16px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 16px auto;
}

.fwbIzO {
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 6px 0px;
}

.hfdsLq {
    font-size: 13px;
}

.gSzOPh {
    font-size: 14px;
    font-weight: normal;
    float: right;
    padding-top: 2px;
}

.a-priceList__icon {
    color: #60df52;
    font-size: 18px;
    padding-right: 5px;
}

.fa, .far, .fas {
    font-family: Font Awesome\ 5 Free;
}

.far {
    font-weight: 400;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*Section-7*/
.dZicSD {
    position: relative;
    padding-top: 32px;
    padding-bottom: 24px;
}

.gvqmQP {
    max-width: 1100px;
    margin: auto;
}

.fgLEPd {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    color: rgb(75, 75, 75);
}

.gQEhfy {
    text-align: center;
}

.dTxiRc {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 890px;
    text-align: center;
    margin: 24px auto;
    padding: 0px 24px;
}


.gGBZQe {
    display: inline-block;
    height: 60px;
    width: auto;
    margin: 24px;
}

/*Section-8*/




