.link-black{
  color: black;
  text-decoration: none;
}
.link-white{
  color:white;
  text-decoration: none;
}
.link-light-blue{
  color:#52BEE0;
  text-decoration: none;
}
.link-gray{
  color:#DDD;
  text-decoration: none;
}
//------------------------------------------------------------
.color-black{
  color: black;
}
.color-white{
  color: white;
}
//------------------------------------------------------------
.hover-white:hover{
  color:#999999;
  text-decoration: none;
}
.hover-green:hover{
  background:#5ED4AD;
}
.hover-border:hover{
  text-decoration: underline;
}
.hover-back-gray:hover{
  background-color: #F6F6F6;
  text-decoration: none;
}
.hover-left-green:hover{
  border-left:10px solid #00FD40;
  text-decoration: none ;
}
//------------------------------------------------------------
.back-light-gray{
  background-color: #f6f6f6;
}
.back-white{
  background-color: #FFF;
}
//------------------------------------------------------------
.weight700{
  font-weight: 700;
}
