= render partial: 'shared/search_form'

.summary_contents
  .div_search_result
    スペース検索結果
    #{@results.length}件

  .summary_lists
    = render partial: 'search_result', collection: @results, as: :result
.map_contents
  = render partial: 'map_contents'