

-# = form_for @picture ,url: user_room_pictures_path(current_user.id, @room.id) do |f|
-#   .hostspace-picture-box
-#     .hostspace-edit-title
-#       写真動画
-#     .hostspace-edit-wrapper
-#       %span.red-box.weight700
-#         必須
-#       %span.red-box-with-txt
-#         写真
-#       %p.red-box-description
-#         ゲストが実際に利用するスペース、設備等の画像を最低1枚追加してください。推奨サイズは1260x840です。ドラッグ＆ドロップで入れ替え可。クリックで拡大することができます。最大30枚まで追加できます。
-#       %p.new_add_button
-#         +新規写真の追加
-#       %span
-#         %label{for: "picture_content"}
-#           .photo_wrap1_unique
-#             = image_tag @picture.content_url,class:'hostspace-picture-box__picture'
-#         = f.file_field :content, class: "y-p add_button_unique"




-#       %span
-#         = f.text_area :about,class:'SI-textarea textarea-with-picture'
-#     .hostspace-edit-wrapper
-#       %span.gray-box.weight700
-#         任意
-#       %span.red-box-with-txt
-#         動画
-#       %p.red-box-description
-#         YouTubeの動画を表示できます。動画は写真とともにスライドショー内に表示されます。
-#       %p
-#         = f.text_area :movie,class:'SI-textarea SI-mini-textarea'
-#       %p.red-box-description
-#         例）http://www.youtube.com/watch?v=XXXXXXX

-#     .space-edit-preserve-box
-#       =f.submit "保存", class: "space-edit-preserve-box__button"




= form_for @picture ,url: user_room_pictures_path(current_user.id, @room.id) do |f|
  = f.hidden_field :cover, value: "true"
  .wrapper_1_1
    .wrapper_1_2
      .upper
        .title_base.clearfix
          .title 4 写真・動画
      .main
        .photos
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 写真

          .detail ゲストが実際に利用するスペース、設備等の画像を最低1枚追加してください。推奨サイズは1260x840です。ドラッグ＆ドロップで入れ替え可。クリックで拡大することができます。最大30枚まで追加できます。写真
          .add_photo
            %label{for: "he", class: "add_button", cursor: "pointer"}
              ＋新規写真の追加
              -# %input{type: "file", id: "add_button_unique", style: "display: none", name: "picture[content]"}
              = f.file_field :content, class: "add_button_unique",id: "he", style: "display: none"

          .photo_area
            .ul
              .li
                .photo_wrap1.photo_wrap1_unique
                  -# =render "/tmp/photo.html.haml"

  .bottom
    .bottom_line
      .bottom_buttons
        .back_button_wrap
          .back_button
            %button.back_button_inside 保存して戻る
        .forward_button_wrap
          .forward_button
            =f.submit "保存して進む", class: "forward_button_inside"










