
body{
  position: relative
}

/* モーダルウィンドウのスタイル */
.modal {
  position:absolute;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  display:none;
}

/* オーバーレイのスタイル */
.overLay {
  position: fixed;
  top:0;
  left:0;
  background: rgba(0,0,0,0.6);
  width:100%;
  height:100vh;
  z-index:10;
}

/* モーダルウィンドウの中身のスタイル */
.modal .inner {
  width: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index:11;
  height:100%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color: white;
}

@keyframes modal{
  0% {top:-100%}
  100% {top:50%}
}
@keyframes modalClose {
  0% {top:50%}
  100% {top:100%}
}


.modal-wp{
  position: relative;
  &__top{
    padding: 0 56px;
    position: relative;
    &__head{
      padding-bottom: 32px;
      text-align: center;

      &--title{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
        padding-top: 56px;
        line-height: 1.3;
      }

      &--text{
        font-size: 12px;
        color: #999;
        line-height: 1.5;
        display: inline-block

      }

    }

    &__main{
      margin-left: -12px;
      margin-right: -12px;
      &__content{
        clear: both;
        padding: 24px 0;
        background-image: linear-gradient(to left, #fff 12px, transparent 12px, transparent),linear-gradient(to right, #fff 12px, #ddd 12px, #ddd);
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: left top;
        &__box{
          padding-bottom: 20px;
          width: 50%;
          float: left;
          position: relative;
          min-height: 1px;
          padding-left: 12px;
          padding-right: 12px;
          &--title{
            margin-bottom: 12px;

          }
          &--text{

          }

          &__area{

          }
        }

        &__lbox{
          width: 100%;
          position: relative;
          min-height: 1px;
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }

  }
  &__bot{

  }
}







.people{
  padding: 4px 0;
  input{
    width: 240px;
    font-size: 16px !important;
    padding: 0;
    outline: none !important;
  }
}

.moda-text{
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.requ{
  background: #e95175;
  display: block;
  float: left;
  border-radius: 3px;
  padding: 4px;
  margin-right: 8px;
  color: #FFF;
  font-size: 12px;
}

.norequ{
  background: #b3b3b4;
  display: block;
  float: left;
  border-radius: 3px;
  padding: 4px;
  margin-right: 8px;
  color: #FFF;
  font-size: 12px;
}

.title-text{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  display: block;
  padding-top: 5px;
}


#reserve_purpose{
  width: 100%;
  padding: 8px;
  height: 32px;
  line-height: 12px !important;
  background-color: transparent;
  font-size: 12px !important;
}


#reserve_usage{
  width: 100%;
  height: 120px;
  padding: 8px;
  line-height: 1.5;
  font-size: 13px;
  resize: vertical;
  border: 1px solid #b3b3b4;
  background: #FFF;
}

#reserve_usage:placeholder-shown{
  color: #cfcfcf;
}


.card-area{
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f1f1f1;
  &__content{
    padding: 24px 24px 12px 24px;
    display: block;
    &--title{
      padding-bottom: 12px;


    }

    &--box{
      padding: 8px 0 10px 30px;
      border-top: 1px dashed #ddd;
      margin: 0;

      &--new{
        margin: 12px 0;
        overflow: hidden;
        a{
          color: #4abfe6;
          text-decoration: none;

        }
      }

    }
  }

}

.fa-chevron-right{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
}

.pay__type{
  font-size: 14px;
  line-height: 1.4;
  display: block;
  padding-top: 2px;
}


.modal--radi{
  margin-top: 16px;

}




.point{
  margin-top: 10px;
  &_title{
    color: #999999;
    margin-top: 9px;
    font-size: 13px;
    margin: 10px 0;

    }
  input{
    width: 200px;
    padding: 5px 5px;
    font-size: 14px;
    border: 1px solid #b3b3b4;
    background: #FFF;
    cursor: text;
  }
  input:placeholder-shown{
    color: #cfcfcf;
  }

}


.point_bo{
  font-size: 12px !important;
  margin: 10px 0 !important;

  label{
    height: 20px !important;
  }
}


.modal-wp__bot{
  border-top: 1px solid #dddddd;
  padding-top: 16px;
  background: #f6f6f6;
}



.modal__sum{
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;

  dl{
    line-height: 1.3;
    position: relative;
    dt{
      font-weight: bold;
      float: left;
      font-size: 14px;
      position: absolute;
      padding-bottom: 10px;
    }

  }

  &--title{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 16px;


  }

  &--kikan{
    border-top: 1px solid #ddd;
    padding-top: 13px;
    dt{
      width: 130px;
      font-weight: bold !important;
    }
    dd{
      padding-left: 145px;
      font-size: 16px;
      font-weight: bold;
    }

    .modal__sum--kikan--title{
      font-weight: bold !important;
      width: 130px;
    }

    .modal__sum--kikan--total{
      font-weight: bold !important;
      padding-left: 145px;
      font-size: 16px;
    }
  }

  &--show{
    border-bottom: solid #dddddd 1px;
    font-weight: normal !important;
    padding-top: 13px;
    dd{
      padding-top: 12px;
      border-top: 1px dashed #ddd;
      padding-bottom: 10px;
      font-weight: normal;

    }
    dt{
      padding-top: 12px;
      font-weight: normal ;
    }

  }

  &--point{
    text-align: center;
    font-size: 12px;
    padding-top: 16px;
    margin-bottom: 15px;
    span{
      font-weight: bold;
      font-size: 14px;
    }

  }
}

dd{
  padding-left: 145px !important;

}

dt{
  padding-bottom: 10px !important;


}


.modal__sum--kikan--total{
  font-weight: bold !important;
  padding-left: 145px;
  font-size: 16px;
}





.modal__last{
  margin-bottom: 20px;
  &__note{
    p{
      font-size: 15px;
      margin-bottom: 8px;
      font-weight: bold;
      line-height: 1.8;
      text-align: center;
      color: #e95175;
      .fa{
        font-size: 1.33333em;
        line-height: 0.75em;
        vertical-align: -15%;
        display: inline-block;
        margin-left: 4px;
        padding: 0 2px;
        color: #f2d42b;
        margin-right: 5px;
      }
    }
    &__lists{
      font-size: 11px;
      line-height: 1.8;
      max-width: 420px;
      margin: auto;
      color: #999;
      padding: 0 16px;
      li{
        list-style: none;
      }
    }

  }

  &__bot{
    max-width: 70%;
    margin: auto;
    margin-top: 15px;

  }
}