.site-header{
  height: 48px;
  background-color: white;
  &__sponser{
    height: 60px;
    width: 100%;
    background:linear-gradient(90deg,#f9c13d 0,#f56e80 30%,#f46275);
  }
  &__sponser-container{
    color: white;
    display: table;
    margin:0 auto;
    height: 100%;
  }


  &__sponser-catch{
    display: table-cell;
    vertical-align: middle;
  }
  &__sponser-catch-text{
    color: #f46275;
    background: #fff;
    font-size: 12px;
    padding: 5px 5px 4px;
    text-align: center;
  }

  &__sponser-date{
    display: table-cell;
    vertical-align: middle;
  }
  &__sponser-datebox{
    display: table;
  }
  &__sponser-date1-inner{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
  }
  &__sponser-date2-inner{
    display: inline-block;
    line-height: 10px;
  }
  &__sponser-date2_element{
    font-size: 11px;
    width: 16px;
  }





  &__sponser-description-box{
    display: table-cell;
  }
  &__sponser-title-box{
    display: table-cell;
    padding-top: 10px;
    line-height: 0px;
    vertical-align: middle;
  }
  &__sponser-title{
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 4px 5px;
    padding-top: 15px;
  }
  &__sponser-sentence{
    font-size: 13px;
    margin: 0 0 0 5px;
    padding-top: 15px;
  }
  &__sponser-button-box{
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 14px;

  }
  &__sponser-button-text{
    display: block;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 700;
    height: 30px;
    width: 80px;
    line-height: 30px;
    text-align:center;
    text-decoration: none;
    margin: 0 auto;
  }



  .float{
    float: left;
    width: 46px;
    height: 46px;
  }
  &__logo{
    width: 34px;
    height: 34px;
    margin-top: 8px;
    margin-left:8px;
  }
  .navs{
    margin-right: 12px;
    .navs-right{
      font-size: 14px;
      float: right;
      margin:14px 10px;
      position: relative;
      .prof-and-down{
        margin-top: -5px;
      }
      .top-nav-down-checkbox{
        display: none;
      }
      input[type=checkbox]:checked ~ .top-nav-parent{
        display: block;
      }
      .top-nav-parent{
        box-shadow: 0 0 8px #EBEBEB;
        border-radius: 3px;
        //上はプルダウンの四角形の作図
        top: 40px;
        left: -230px;
        position: absolute;
        display: none;

        .child-user{
          border-bottom: solid 1px;
          border-color: #EBEBEB;
          .name{
            display: block;
            font-size: 16px;
            padding-left: 12px;
            padding-top:12px;
            font-weight: bold;
          }
          .point{
            white-space: nowrap;
            font-size: 10px;
          }
        }
        .child-link{
          display: block;
          white-space: nowrap;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 150px;
          padding-left: 12px;
        }
      }
      &__link{
        text-decoration: none;
      }

      .user_icon{
        width: 30px;
        height: 30px;
        border-radius: 100%;
      }
    }
  }
}
