
.hostspace-options-box
  %span.hostspace-edit-title
    オプション一覧
  = link_to new_user_room_option_path do
    %span.hostspace-options-box__add.new_add_button
      ＋新規オプションの追加
  %p.red-box-description
    ドラッグ＆ドロップで入れ替え可。
  .hostspace-options-box__options
    = render partial: 'shared/render_hostspace_option', collection: @options, as: "option"
