.host_title_bar_up
  = link_to root_path do
    .logo_wrap
  .link_wrap.clearfix
    .link_temp
    .link_temp
    .link_icon
      .icon
        %i.far.fa-envelope.fa-2x
      .message お知らせ
    .link_icon
      .icon
        %i.fas.fa-check.fa-2x
      .message やること
    .link_icon
      .icon
        %i.fas.fa-bars.fa-2x
      .message メニュー
    .link_temp
  .base
.host_title_bar_bottom
  .title_bar_up
    .page_title_bar_wrap
      .page_title_bar.clearfix
        .page_title ホスト情報の設定
    .step_bar_wrap
      .step_bar
        %ul
          %li.active
            .flow_box 1.基本情報
          %li
            .flow_box 2.住職
          %li
            .flow_box 3.振込口座
  .title_bar_bottom2
