.bottom
  .bottom_line
  .bottom_buttons
    .back_button_wrap
      .back_button
        %button.back_button_inside 保存して戻る
    .forward_button_wrap
      .forward_button
        %button.forward_button_inside 保存して進む

