.host_title_bar_up
  .logo_wrap
  .link_wrap.clearfix
    .link_temp
    .link_temp
    .link_icon
      .icon
        %i.far.fa-envelope.fa-2x
      .message お知らせ
    .link_icon
      .icon
        %i.fas.fa-check.fa-2x
      .message やること
    .link_icon
      .icon
        %i.fas.fa-bars.fa-2x
      .message メニュー
    .link_temp
  .base
