= render partial: 'shared/host_hedder'

%h1
  スペース編集
= @room.intro.title


%h1
  サイドバー
%h1
  =link_to "施設情報"
  時間貸し
  =link_to "プレビュー"
  =link_to "基本情報"
  =link_to "スペースの紹介・注意事項"
  =link_to "写真・動画"
  =link_to "プラン・価格設定"
  =link_to "オプション"
  =link_to "定型文"
  =link_to "キャンセルポリシー・利用規約"