

%h1
  スペース編集
= @room.intro.title


%h1
  サイドバー
%h1
  =link_to "施設情報", user_room_space_infos_path(current_user.id, @room.id)
  時間貸し
  =link_to "プレビュー"
  =link_to "基本情報",user_room_basic_infos_path(current_user.id, @room.id)
  =link_to "スペースの紹介・注意事項", user_room_intros_path(current_user.id, @room.id)
  =link_to "写真・動画", user_room_pictures_path(current_user.id, @room.id)
  =link_to "プラン・価格設定", user_room_plans_path(current_user.id, @room.id)
  =link_to "オプション", user_room_options_path(current_user.id, @room.id)
  =link_to "定型文", user_room_reserve_phrases_path(current_user.id, @room.id)
  =link_to "キャンセルポリシー・利用規約", user_room_agreements_path(current_user.id, @room.id)