.confirm-reservation-box
  .confirm-reservation-box__title.weight700
    予約確認
  .confirm-reservation-box__description
    予約の確認と削除を行うことができます。
  .reservation-list
    = render partial: "reservations/reservation_item"
