.link-black{
  color: black;
  text-decoration: none;
}
.link-white{
  color:white;
  text-decoration: none;
}
.link-light-blue{
  color:#52BEE0;
  text-decoration: none;
}
.link-gray{
  color:#DDD;
  text-decoration: none;
}
//------------------------------------------------------------
.hover-white:hover{
  color:#999999;
}
.hover-green:hover{
  background:#5ED4AD;
}
.hover-border:hover{
  text-decoration: underline;
}
//------------------------------------------------------------
.back-light-gray{
  background-color: #f6f6f6;
}
.back-white{
  background-color: #FFF;
}
//------------------------------------------------------------
.weight700{
  font-weight: 700;
}
