.size-4x{
  //21%+2%+2%=25%
  width: 21%;
  margin-right: 2%;
  margin-left: 2%;
}
.size-3x{
  //29%+2%+2%=33%
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;

}
#envelope-size{
  font-size:1.5em;
}
.red-box{
  font-size: 12px;
  background-color: #F4356A;
  color: white;
  padding: 2px 0px 2px 2px;
  border-radius: 5px;
}
.red-box-with-txt{
  font-size: 20px;
}
.red-box-description{
  font-size: 12px;
  color: gray;
}
.gray-box{
  font-size: 12px;
  background-color: #A0A0A0;
  color: white;
  padding: 2px 0px 2px 2px;
  border-radius: 5px;
}
.new_add_button{
  color: #13D45A;
  padding-top:40px;padding-bottom:30px;
  font-weight: 700;
}
.SI-textarea{
    width: 600px;
    height: 90px;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}
.SI-mini-textarea{
  height:30px;
}
