.size-4x{
  //21%+2%+2%=25%
  width: 21%;
  margin-right: 2%;
  margin-left: 2%;
}
.size-3x{
  //29%+2%+2%=33%
  width: 29%;
  margin-left: 2%;
  margin-right: 2%;

}
#envelope-size{
  font-size:1.5em;
}
.red-box{
  font-size: 14px;
  background-color: #F4356A;
  color: white;
  padding: 4px;
  border-radius: 5px;
}
.red-box-with-txt{
  font-size: 20px;
  margin: 10px;
}
.red-box-description{
  font-size: 12px;
  color: gray;
  margin-top: 15px;
}
.gray-box{
  font-size: 12px;
  background-color: #A0A0A0;
  color: white;
  padding: 2px 0px 2px 2px;
  border-radius: 5px;
}
.green-box{
  font-size: 14px;
  color: white;
  white-space: nowrap;
  background-color:#13D45A ;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
}
.gomibako-button{
  width: 20px;
  height: 20px;
  background-color: #aaaaaa;
}
//%button.gomibako-button
//%i{class:"far fa-trash-alt"}
.new_add_button{
  color: #13D45A;
  padding-top:40px;padding-bottom:30px;
  font-weight: 700;
}
.SI-textarea{
    width: 600px;
    height: 90px;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}
.SI-mini-textarea{
  height:30px;
}
.top-bottom-border-box{
  width: 600px;
  height: 100px;
  border-top: 1px solid gray;
  border-bottom:1px solid gray;
  display: table;
  vertical-align: middle;
}
.switchArea {
  display: block;
  position       : relative;            /* 親要素が基点       */
  width          : 40px;               /* ボタンの横幅       */
  background     : #fff;                /* デフォルト背景色   */
}
.switchArea_with_txt{
  font-size: 14px;
  &--green{
    color: #13D45A;
  }
  &--gray{
    color: #999999;
  }
}
.gray-button{
  background-color: #F0F0F0;
  padding: 10px 20px 10px 20px;
  width: 100px;
  color: black;
  border-radius: 5px;
}
.light-gray-button{
  background-color: #BBB;
  padding: 10px 20px 10px 20px;
  width: 120px;
  color: white;
  border-radius: 5px;
}
.green-button{
  background-color: #13D45A;
  padding: 10px 20px 10px 20px;
  width: 120px;
  color: white;
  border-radius: 5px;
}

 /* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}

 /* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  height         : 20px;                /* ボタンの高さ       */
  border         : 2px solid #999999;   /* 未選択タブのの枠線 */
  border-radius  : 30px;                /* 角丸               */
  background: #999999;
}

 /* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
  border-color   : #78bd78;             /* 選択タブの枠線     */
  background: #13D45A;
}

 /* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
  position       : absolute;            /* 親要素からの相対位置*/
  width          : 22px;                /* 丸の横幅           */
  height         : 22px;                /* 丸の高さ           */
  background     : #f0f0f0;             /* カーソルタブの背景 */
  top            : -1px;                 /* 親要素からの位置   */
  left           : 0px;                 /* 親要素からの位置   */
  border-radius  : 26px;                /* 角丸               */
  transition     : .2s;                 /* 滑らか変化         */
}

 /* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ #swImg {
  transform      : translateX(20px);    /* 丸も右へ移動       */
  background     : #78bd78;             /* カーソルタブの背景 */
}
