.summary_contents{
  width: 65vw;
  height: 77vh;
  overflow-y: scroll;
  display: block;
  float: left;
  .div_search_result{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    display: block;
  }
  .summary_lists{
    .summary_list{
      padding: 15px;
      float:left;
      .summary_room__photo{
        width: 431.34px;
        height: 287.56px;
        position: relative;
        .room_photo{
          width: 100%;
          height: 100%;
          position: absolute;
        }
        .summary_room__favorite{
          font-size: 22px;
          line-height: 41px;
          display: block;
          -webkit-font-smoothing: antialiased;
          position: absolute;
          top: 10px;
          right: 10px;
          color: #fff;
          opacity: 0.8;
          border-color: #fff;
          text-shadow: 0px 0px 2px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2), 0px 0px 1px 1px rgba(0,0,0,0.2) inset;
          // color: #f06060;
          // border-color: #f06060;
          // background: rgba(255,255,255,0.85);
          // opacity: 1;
          cursor: pointer;
          border-radius: 50%;
          text-align: center;
          z-index: 3;
          width: 50px;
          height: 50px;
          border-style: solid;
          border-width: 5px;
        }
        .summary_room__price{
          font-size: 15px;
          color: #fff;
          border-radius: 3px;
          background-color: #000;
          position: absolute;
          left: 16px;
          bottom: 20px;
          padding: 10px;
        }
      }
      .summary_room__title{
        width: 400px;
        height: 42px;
        margin: 10px;
        font-size: 14px;
        line-height: 1.5;
      }
      .summary_room_detail{
        width: 100%;
        height: 12px;
        margin: 6px, 0, 8px;
        font-size: 11px;
        color: #d0d1cf;
        margin: 10px;
        .summary_room__capacity{
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;
          .summary_room__human{
            display: inline;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
          .summary_room__people{
            display: inline;
            color: black;
            text-decoration: none;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
          }
        }
        .summary_room__area{
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;
          .summary_room__pin{
            display: inline;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
          .summary_room__address{
            display: inline;
            color: black;
            text-decoration: none;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
          }
        }
        .summary_room__evaluation{
          display: inline-block;
          margin-right: 5px;
          vertical-align: bottom;
          .summary_room__star{
            display: inline;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
          .summary_room__review{
            display: inline;
            color: black;
            text-decoration: none;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
          }
        }
      }
      .summary_room__access{
        margin: 10px;
        height: 12px;
        font-size: 10px;
        line-height: 1.2;
      }
    }
  }
}
.map_contents{
  width: 35vw;
  height: 77vh;
  background-color: #B2EBF2;
  display: block;
  float: left;
  position: fixed;
  top: 160px;
  left: auto;
  right: 0;
  bottom: 0;
  z-index: 5;
}
