.site-main{
  margin-top: 160px;
  &__title-logo{
    margin-top: 0px;
    height: 80px;
    width: 100%;
    text-align: center;
  }
  &__title-logo img{
    width: 360px;
    height: 80px;
  }
  .top-information{
    margin-top: 10px;
    text-align: center;
  }
  .container{
    width: 100%;
    .row{
      margin-left: 130px;
      margin-right: 130px;
      display: flex;
      .top-menu-list{
        width: 33%;
        height: 80px;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        &__button{
          display: block;
          background: #f6f6f6;
          width: 100%;
          border-radius: 3px;
          box-shadow: 0px 1px 1px gray;
          padding: 10px 20px;
          min-height: 63px;
          text-decoration: none;
        }
        &__button-img{
          color: blue;
          width: 36px;
          height: 36px;
          vertical-align: middle;
        }
        &__button-text{
          font-size: 18px;
          vertical-align: middle;
          margin-left: 12px;
          margin-top: 10px;
          font-weight: 700;
          color: #333;
          display: inline-block;
        }
        &__button-num{
          font-size: 10px;
          color: #a3a3a3;
          display: block;
          margin-top: 8px;
          font-weight: 400;
        }
      }
      .row-list{
        width: 25%;
      }
    }
  }
  .top-menu__other-search{
    display: inline-block;
    text-align: center;
    width: 100%;
    .top-menu__other-title{
      display: inline-block;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      margin-right: 32px;
    }
    .top-flow__list, li{
      display: inline-block;
      font-size: 14px;
      text-align: center;
      margin-top: 20px;
    }
    .top-flow__list li+li{
      border-left: 1px solid #a0a0a0;
      padding-left: 32px;
      margin-left: 32px;
    }
  }
  .top-page-topics{
    border-bottom: 1px solid #eaeaea;
    padding-top: 48px;
    padding-bottom: 40px;
    .top-container{
      .top-title-container{
        .top-title{
          font-size: 30px;
          font-weight: 700;
          text-align: center;
        }
      }
      .top-units{
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        box-sizing:border-box;
        padding-top: 24px;
        padding-right: 128px;
        padding-left: 128px;
        &__box{
          display:inline-block;
          box-shadow: 0px 1px 1px gray;
          height: 380px;
          border-radius: 2px;
          overflow: hidden;
        }
        &__img-box{
          margin: 0 -50%;
          text-align: center;
          .unit-img{
            height: 320px;
          }
        }
        &__text{
          font-size: 14px;
          white-space: normal;
          display: block;
          padding-left: 8px;
          padding-right: 6px;
        }
      }
      .top-more{
        padding-top: 24px;
        text-align: center;
        &__text{
          display: inline-block;
        }
      }
    }
  }
}

