%h1
  利用規約

%h1
  = "#{@room.space.user.host_profile.first_name}の利用規約です"

%h1
  -if @room.agreement.aggree
    = @room.agreement.aggree
  - else
    デフォルトのスペースマーケットが用意してる利用規約

%h2
  = link_to "スペース詳細に戻る", space_room_path(@room.space.id, @room.id)
