.facility-information-box{
  &__title{
    font-size: 26px;
  }
  &__description-box{
  }
  &__create-facility{
    color: #13D45A;
    padding-top:40px;padding-bottom:30px;
  }
  &__space-list-box{
    overflow: scroll;
    .FI-space-list-item{
      .Fi-space-list-radio-button{
      }
      .FI-space-list-item-txt{
        &__1{
          font-size: 10px;
          color: gray;
        }
        &__2{
          margin-left: 15px;
          color: black;
        }
        &__3{
          margin-left: 15px;
          font-size: 8px;
          color: gray;
        }
        &__4{
          margin-left: 15px;
          font-size: 14px;
          color: black;
        }
        &__5{
          margin-left: 15px;
          font-size: 8px;
          color: gray;
        }
        &__6{
          margin-left: 15px;
          font-size: 10px;
          color: gray;
        }
      }
      .FI-space-list-item-buttons{
          display: table;
          margin-left: 520px;
          
        .FI-space-list-item-edit-button{
          display: table-cell;
          padding-right: 20px;
          color: #13D45A;
        }
        .FI-space-list-item-delete-button{
          display: table-cell;
          color: #13D45A;
        }
      }
    }
    

  }
}
