.hostspace-edit-title{
    font-size: 22px;
    margin-bottom: 20px;
}
.hostspace-edit-wrapper{
  margin-bottom: 30px;
  p{
    padding: 20px 0 0;
    textarea{
      width: 100%;

    }
  }
}


.modio{
  height: 120px;
}