.hostspace-options-box
  %span.hostspace-edit-title
    オプション一覧
  = link_to "#" do
    %span.hostspace-options-box__add.new_add_button
      ＋新規オプションの追加
  %p.red-box-description
    ドラッグ＆ドロップで入れ替え可。
  .hostspace-options-box__options
    /オプションはありません。
