.hostspace-plans-box
  %span.hostspace-edit-title
    プラン一覧
  = link_to "#" do
    %span.hostspace-plans-box__add.new_add_button
      ＋新規プランの追加
  %p.red-box-description
    ドラッグ＆ドロップで入れ替え可。
  .hostspace-plans-box__plans
