.hostspace-plans-box
  %span.hostspace-edit-title
    プラン一覧
  = link_to new_user_room_plan_path(current_user.id, @room.id) do
    %span.hostspace-plans-box__add.new_add_button
      ＋新規プランの追加
  %p.red-box-description
    ドラッグ＆ドロップで入れ替え可。
  .hostspace-plans-box__plans
    = render partial: 'shared/render_hostspace_plan', collection: @plans, as: "plan"
