.sign-in-center{
  text-align: center;
  background-color:#F6F6F6;
  padding-top: 32px;
  padding-bottom: 20px;
  .si-button{
    display: inline-block;
    background: #4abfe6;
    color: #fff;
    width: 342px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    border: none;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
  }
  &__title{
    font-size: 32px;
    margin-bottom: 24px;
  }
  .sign-in-white-box{
    background-color: white;
  }
  &__container{
    width: 810px;
    margin: 0 auto;
    .sign-in-top{
      border-radius: 3px;
      box-shadow: 0px 0px 0px gray;
      background-color: white;
      border-bottom: 1px solid #eaeaea;
      &__box{
        width: 100%;
        display: table;

        .si-other-service{
          width: 50%;
          display: table-cell;
          border-right: 1px solid #EAEAEA;
          padding-left: 30px;
          padding-right: 30px;
          &__title{
            font-size: 18px;
            padding-bottom: 20px;
            padding-top: 20px;
          }
          &__link-img{
            width: 342px;
            height: 45px;
          }
          &__txt{
            text-align: left;
            line-height: 1.4;
            font-size: 14px;
            color: gray;
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
        .si-mail{
          width: 50%;
          display: table-cell;
          &__title{
            font-size: 18px;
            padding-bottom: 20px;
            padding-top: 20px;
          }
          &__form{
            width: 80%;
            margin: 0 auto;
            .si-form-field{
              border: none;
              border-bottom: 1px solid rgba(0,0,0,.12);
              display: block;
              font-size: 14px;
              margin: 0;
              padding-top:20px;
              width: 100%;
              height:30px;
              background: none;
              text-align: left;
            }
            input.remember-signin__check-box:checked{
              background: #4abfe6;
            }
            .remember-signin{
              padding-top: 20px;
              padding-bottom: 10px;
              &__check-box{
                border: 1px solid #999;
                border-radius: 4px;
              }
            }
          }
        }
      }
      &__register{
        font-size: 14px;
        border-top: 1px solid #EAEAEA;
        border-radius: 3px;
        box-shadow: 0px 0px 0px gray;
        background-color: white;
        border-bottom: 20px solid #F6F6F6;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      &__register :hover{
        opacity:1.0;
      }
    }
    .sign-in-bottom{
      padding: 30px 20px 30px 40px;
      display: table;
      &__left{
        text-align: left;
        display: table-cell;
        width: 350px;
        vertical-align: middle;
      }
      &__left span{
        color: gray;
        font-size:14px;
      }
      &__center{
        text-align: center;
        vertical-align: middle;
        width: 105px;
        display: table-cell;
      }
      &__right{
        width: 350px;
        display: table-cell;
      }
    }
  }
}
